<div class="container mt-4">
    <div class="row">
        <div class="col text-center">
            <img src="img/hello.jpeg" alt="hello world" class="img-thumbnail rounded-circle" width="200px">
            <h1 class="display-4">Ruspian Majid</h1>
            <p class="lead">calon programer</p>
            </div>
        </div>
    </div>
</div>
